<div class="searchres-container">
    <div class="searchres-card">
        <h1>Search Results</h1>
    </div>
    <div class="search-category-conainer d-flex">
        <button type="button" class="btn btn-sm btn-outline-secondary ">Location <i
                class='bx bxs-right-arrow'></i></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">File type <i
                class='bx bxs-right-arrow'></i></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">People <i
                class='bx bxs-right-arrow'></i></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Last modified <i
                class='bx bxs-right-arrow'></i></button>
    </div>
    <div class="search-grid-container">
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/dummy.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon"><i class='bx bxs-folder'></i></div>
                <div class="folder-icon"><p>Shilpa</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/dummy.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon"><i class='bx bxs-folder'></i></div>
                <div class="folder-icon"><p>Zee Drive</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/dummy.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon"><i class='bx bxs-folder'></i></div>
                <div class="folder-icon"><p>Engro-234 </p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon"><p>Image-1.pdf file</p></div>
            </div>
        </div>
    </div>
</div>

<!-- border: 1.3px solid #6c757d; -->