<!-- main-nav -->
<div class="container-fluid">
    <div class="main-nav">
        <div class="logo">
            <a href="#">
                <img src="assets/images/logo.png" width="72px" alt="" srcset="">
            </a>
        </div>

    </div>
    <div class="search-container">
        <div class="search-card">
            <div class="form-group has-search">
                <i class='bx bx-search'></i>
                <input type="text" class="form-control" placeholder="Search here">
                <i class='bx bx-filter'></i>
              </div>
        </div>
        <div class="avatar">
            <img src="assets/images/avatar.jpg" alt="" srcset="">
        </div>
    </div>
    
</div>