.screentwo-container {
    padding-bottom: 30px;

    .screentwo-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.2px solid #E7E9EB;
        padding-bottom: 9px;

        .sorting-right-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 413px;

            .list-thumbnail-card {
                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    color: #939191;
                }

                .bx {
                    font-size: 16px;
                    padding: 0 4px;
                }
            }

            .list-icon-card {
                padding: 0 10px;

                .bx {
                    font-size: 1.5rem;
                }
            }

        }

        .create-btn-card {
            .btn-create {
                border: 1px solid #c5c8cb;
                background: #fff;
                font-size: 12px;
                font-weight: normal;
                font-family: 'Roboto';

                .bx {
                    font-weight: 600;
                    vertical-align: middle;
                    vertical-align: inherit;
                    font-size: 12px;
                }

                i.create-right {
                    font-size: 18px;
                    margin-left: 6px;
                }
            }
        }
    }

    .recent-images-container {
        margin-top: 2rem;

        h1 {
            font-size: 1rem;
            margin-bottom: 12px;
            font-weight: bold;
        }

        h3 {
            font-size: .75rem;
            margin-bottom: 6px;
            font-weight: 600;
        }

        .recent-images-card {
            p {
                margin-bottom: 0;
                // font-weight: 600;
                margin-bottom: 12px;
                font-size: 12px;
            }

            .recent-images-row {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                .image-card {
                    padding-right: 15.8px;

                    img {
                        border-radius: 5px 5px 0px 0;
                    }

                    .image-title-card {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        border: 1.5px solid #000;
                        border-radius: 0px 0px 5px 5px;
                        padding: 5px;

                        .image-icon {
                            svg {
                                vertical-align: sub;
                            }
                        }

                        .image-title {
                            p {
                                margin-bottom: 0;
                                font-size: 14px;
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .folder-container {
        padding: 30px 0px;

        .folder-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main-title {
                a {
                    color: #000;
                }
            }
        }

        h3 {
            font-size: 0.75rem;
            margin-bottom: 6px;
            font-weight: 600;
        }

        .folder-card-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .folder-card {
                margin-bottom: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 15%;
                border: 1.4px solid #b1acac;
                padding: 12px;
                border-radius: 5px;

                .folder-icon {
                    margin-right: 6px;


                    img {
                        width: 21px;
                        vertical-align: super;
                    }
                }

                .folder-title {
                    margin-top: 4px;

                    h4 {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    p {
                        margin: 6px 0 0;
                        font-weight: 600;
                        color: #939191;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .files-container {
        .files-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main-title {
                a {
                    color: #000;
                }

                h3 {
                    font-size: 0.75rem;
                    margin-bottom: 6px;
                    font-weight: 600;
                }
            }
        }
    }

    .files-images-container {
        margin-top: 0rem;

        h1 {
            font-size: 1rem;
            margin-bottom: 12px;
            font-weight: bold;
        }

        h3 {
            font-size: .75rem;
            margin-bottom: 6px;
            font-weight: 600;
        }

        .files-images-card {
            p {
                margin-bottom: 0;
                // font-weight: 600;
                margin-bottom: 12px;
                font-size: 12px;
            }

            .files-images-row {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                .image-card {
                    padding-right: 15.8px;

                    img {
                        border-radius: 5px 5px 0px 0;
                    }

                    .image-title-card {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        border: 1.5px solid #000;
                        border-radius: 0px 0px 5px 5px;
                        padding: 5px;

                        .image-icon {
                            svg {
                                vertical-align: sub;
                            }
                        }

                        .image-title {
                            p {
                                margin-bottom: 0;
                                font-size: 14px;
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .pagenation-card {
        padding: 10px 0;
        border-bottom: 1.2px solid #E7E9EB;

        .bx-chevron-right {
            font-size: 18px;
            font-weight: 600;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 240px;

            li {
                padding-left: 0;
                color: #626262;
                font-size: 12px;
                list-style: none;

            }
        }
    }
}