<div *ngIf="!router.url.includes('login')">
    <app-header></app-header>
    <div class="container-fluid pt-3">
        <div class="wrapper row">
            <div class="col-lg-2">
                <app-sidebar-menu></app-sidebar-menu>
            </div>
            <div class="col-lg-10" style="padding-left: 22px;">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</div>

<div *ngIf="router.url.includes('login')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">

                <div class="loginform-container">
                    <div class="logo">
                        <img src="assets/images/logo.png" width="100px" alt="" srcset="">
                    </div>
                    <div class="loginform">
                        <h1 class="text-center">Sign Up</h1>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" name="" class="input-field form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" name="" class="input-field form-control" id="">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" checked style="margin-right: 7px;" class="form-check-input"
                                id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remaind me</label>
                        </div>
                        <button type="submit" class="btn btn-primary" routerLink="screentwo">Login</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 login-dark">
                <div class="imgcard">
                    <img src="assets/images/login.png" width="200px" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>