.loginform-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
   
    .logo{
        margin-bottom: 50px;
    }

    .loginform {
        h1{
            font-size: 32px;
            font-family: inherit;
            font-weight: 600;
        }
        border: 1.4px solid #cfc6c6;
        border-radius: 5px;
        padding: 12px;
        border: 1.4px solid #cfc6c6;
        border-radius: 5px;
        padding: 40px 20px 50px;
        .form-group{
            margin: 13px 0;
            .form-check-input:checked{
                background-color: #000000;
            }
        }
        .input-field {
            min-width: 380px;
        }

        button {
            display: flex;
            background: #000000;
            align-items: center;
            justify-content: center;
            min-width: 380px;
        }
    }
}
.login-dark{
    background-color: #000000;
    .imgcard {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}