.menulist{
    ul{
        padding-left: 0;
        li{
            list-style: none;
            padding: 2px 0;
            a{
                background: #fff;
                width: 190px;
                display: block;
                padding: 10px 20px;
                font-size: 12px;
                border-radius: 4px;
                font-weight: 600;
                /* margin: 5px 0; */
                text-decoration: none;
                color: #626262;
                &:hover{
                    background: #cccccc; 
                    color: #000; 
                }
                .bx.bx-envelope {
                    font-size: 15px;
                    vertical-align: sub;
                    margin-right: 4px;
                }
            }
            a.routerlinkactive{
                background: #cccccc; 
                color: #000;
            }
        }
    }
}