<div class="searchfil-container">
    <div class="searchfil-card">
        <h1>Search Results</h1>
    </div>
    <div class="search-category-conainer d-flex">
        <button type="button" class="btn btn-sm btn-outline-secondary "><i class='bx bx-check'></i> Shipa
            <span>&#10005;</span></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><i class='bx bx-check'></i> PDF
            <span>&#10005;</span></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><i class='bx bx-check'></i> Today
            <span>&#10005;</span></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><i class='bx bx-check'></i> Shilpa Engro<span>&#10005;</span></button>
        <p style="margin-bottom: 0;
        font-weight: 600;
        font-size: 13px;">Clear all</p>
    </div>
    <div class="search-grid-container">
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
        <div class="search-grid-card">
            <div class="image-card">
                <img src="assets/images/recentsearch.png" alt="" srcset="">
            </div>
            <div class="title-row">
                <div class="folder-icon">
                    <img src="assets/images/recentsearch.png" alt="" srcset="">
                </div>
                <div class="folder-icon">
                    <p>Image-1.pdf file</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- border: 1.3px solid #6c757d; -->